<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script>
        function validate() {
            var result = true;
            if ($('#name').val() == '') {
                alert('Fill name');
                result = false;
            }
            if ($('#surname').val() == '') {
                alert('Fill surname');
                result = false;
            }
            if ($('#description').val() == '') {
                alert('Fill description');
                result = false;
            }
            return result;
        }
        
        function addRow() {
            var name = $('#name').val();
            var surname = $('#surname').val();
            var description = $('#description').val();
            var sex = $('input[name=sex]:checked').val();
            $('#table tr:last').after('<tr><td>' + name +'</td><td>' + surname +'</td><td>' + sex +'</td><td>' + description +'</td></tr>');
        }
    </script>
</head>
<body>
<div class="container-fluid">
    <h1>My First Bootstrap Page</h1>
    <p>This is some text.</p>

    <form>
        <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" class="form-control" id="name">
        </div>
        <div class="form-group">
            <label for="surname">Surname:</label>
            <input type="text" class="form-control" id="surname">
        </div>
        <div class="form-group">
            <label>Sex:</label>
        </div>
        <div class="checkbox">
            <label><input type="radio" name="sex" value="female" checked> Female </label>
            <label><input type="radio" name="sex" value="male"> Male </label>
        </div>
        <div class="form-group">
            <label for="description">Description:</label>
            <input type="text" class="form-control" id="description">
        </div>
        <button type="submit" class="btn btn-default" onclick="validate()">Submit</button>
    </form>
    <button type="submit" class="btn btn-default" onclick="addRow()">Add row</button>

    <h2>Contextual Classes</h2>
    <p>Contextual classes can be used to color table rows or table cells. The classes that can be used are: .active,
        .success, .info, .warning, and .danger.</p>
    <table class="table" id="table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Surname</th>
            <th>Sex</th>
            <th>Description</th>
        </tr>
        </thead>
    </table>
</div>
</body>
</html>